.custom-switch{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.custom-switch__input:not(:disabled):active~.custom-switch__title::before{
    border-color: #b3d7ff;
    background-color: #b3d7ff;
}

.custom-switch__input:checked~.custom-switch__title::before{
    border-color: #007bff;
}

.custom-switch__input:checked~.custom-switch__title::after{
    opacity: 1;
    background: linear-gradient(to right, transparent 40%, #007bff 50%, transparent 60%), linear-gradient(to bottom, transparent 40%, #007bff 50%, transparent 60%);
}

.custom-switch__input:checked~.custom-switch__title_minus::after{
    background: linear-gradient(to bottom, transparent 40%, #007bff 50%, transparent 60%);
}

.custom-switch__input:disabled~.custom-switch__title::before{
    background-color: #b3d7ff !important;
    opacity: 0.5;
}

.custom-switch__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-switch__title{
    padding-left: 25px;
}

.custom-switch__title::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    left: 0;
    top: 0;
    background-color: #fff;
    border: #007bff solid 1px;
    transition: border .1s, background .1s;
}

.custom-switch__title::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
    background: linear-gradient(to right, transparent 40%, #b3d7ff 50%, transparent 60%), linear-gradient(to bottom, transparent 40%, #b3d7ff 50%, transparent 60%);
    opacity: 0;
    transition: opacity .2s, background .2s;
}

.custom-switch__title_minus{
    padding-left: 18px;
}

.custom-switch__title_minus::before{
    top: -1px;
}
.custom-switch__title_minus::after{
    top: 2px;
    background: linear-gradient(to bottom, transparent 40%, #b3d7ff 50%, transparent 60%);
}