.exclude{
    display: flex;
}

.exclude__switcher{
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 34px;
    height: 34px;
    border-radius: 5px 0 0 5px;
}

.exclude__input{
    font-family: 'Fira Mono', monospace !important;
    color: #495057;
    flex: 1 1 auto;
    border: 1px solid #ced4da;
    border-right: none;
    border-left: none;
    padding: 0 10px;
    overflow: hidden;
}
.exclude__input:disabled{
    background-color: #e9ecef;
}

.exclude__button{
    cursor: pointer;
    border: none;
    line-height: 0;
    padding: 0;
    transition: all .2s;
    color: #fff;
    text-align: center;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 0 5px 5px 0;
    flex: 0 0 65px;
}

.exclude__button:not(:disabled):hover{
    background-color: #138496;
    border-color: #117a8b;
}
.exclude__button:not(:disabled):active{
    background-color: #117a8b;
    border-color: #10707f;
}
.exclude__button:disabled{
    background-color: #ced4da;
    border-color: #ced4da;
}