.generator{
    padding: 10px 10px 10px 10px;
    display: flex;
    position: relative;
}

.generator__input{
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    height: 48px;
    text-align: center;
    font-family: 'Fira Mono', monospace !important;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.generator__button{
    flex: 0 0 58px;
    border: none;
    line-height: 0;
    transition: all .2s;
    color: #fff;
    text-align: center;
}

.generator__button_copy{
    background-color: #007bff;
    border-color: #007bff;
}

.generator__button_copy:hover{
    background-color: #0069d9;
    border-color: #0062cc;
}

.generator__button_copy:active{
    background-color: #0062cc;
    border-color: #005cbf;
}

.generator__button_copy path {
    fill: currentColor !important;
}

.generator__button_new{
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 0 5px 5px 0;
}
.generator__button_new:hover{
    background-color: #138496;
    border-color: #117a8b;
}
.generator__button_new:active{
    background-color: #117a8b;
    border-color: #10707f;
}