.group{
    display: flex;
    padding: 10px 10px 0 10px;
}

.group__title{
    padding-right: 20px;
    font-weight: bold;
    color: #6c757d;
    text-align: right;
    flex: 0 0 110px;
}

.group__body{
    flex: 1 1 auto;
}