.lenrange {
    font-family: 'Fira Sans', sans-serif !important;
    position: relative;
    display: block;
    width: calc(100% - 20px);
    max-width: 400px;
    height: 40px;
    top: -10px;
    left: 10px;
    cursor: pointer;
}

.lenrange::before {
    content: "";
    background: linear-gradient(to right, #dc3545 5%, #ffc107 10%, #ffc107 20%, #28a745 35%);
    width: 100%;
    height: 8px;
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: height .2s;
}

.lenrange:hover::before {
    height: 10px;
}

.lenrange__input {
    width: calc(100% + 20px);
    height: 100%;
    cursor: pointer;
    opacity: 0;
    padding: 0;
    margin:  0 -10px;
}

.lenrange__bubble {
    background: white;
    border: 2px solid #28a745;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: #28a745;
    display: grid;
    place-items: center;
    font-weight: bold;
    transition: color .2s, transform .2s, font-size .2s;
    user-select: none;
    font-size: 10px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lenrange:hover .lenrange__bubble,
.lenrange:focus .lenrange__bubble {
    transform: translate(-50%, -50%) scale(1.5);
}


.lenrange__bubble_danger{
    border-color: #dc3545;
    color: #dc3545;
}

.lenrange__bubble_warning{
    border-color: #ffc107;
    color: #ffc107;
}