.popover{
    position: absolute;
    background: #fff;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    bottom: -55px;
    left: 110px;
    z-index: 10;
    border: 1px solid #ced4da;
    border-radius: 5px;
    opacity: 0;
    transition: bottom .1s linear .3s,  opacity .3s ease-in;
}

.popover__shown{
    opacity: 1;
    bottom: -35px;
    transition: all .3s ease-in;
}

.popover::before{
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    background: #fff;
    transform: rotate(45deg);
    top: -8px;
    left: calc(50% - 7px);
}

.popover__body{
    height: 100%;
    overflow: hidden;
}