.settings-container{
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s, padding-bottom .2s, opacity .2s;
}

.settings-container_show{
    max-height: 200px;
    padding-bottom: 20px;
    opacity: 1;
}