.settings-switcher{
    padding: 0 10px;
    display: flex;
    justify-content: center;
}


.settings-switcher__button{
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    transition: all .2s;
    color: #fff;
    text-align: center;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px ;
}

.settings-switcher__button:hover{
    background-color: #138496;
    border-color: #117a8b;
}
.settings-switcher__button:active{
    background-color: #117a8b;
    border-color: #10707f;
}

.settings-switcher__label_hide{
    display: none;
}
.settings-switcher__label_show{
    display: block;
}
.settings-switcher__button_showed .settings-switcher__label_hide{
    display: block;
}
.settings-switcher__button_showed .settings-switcher__label_show{
    display: none;
}
